{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ titre }}</h1>

    <p>{{ artist }}</p>
    
    {% for artistType in artist.ArtistTypes  %}
        <li>{{ artistType.type }}</li>
    {% endfor %}
    
    <p>Artiste géré par {{ artist.agent.name|capitalize }} ({{ artist.agent.email }})</p>
    
{% if 'admin' in app.user.roles %}    
    <p><a href="{{ path('agent_transfert',{'id':artist.agent.id, 'artistId':artist.id}) }}">Demander un transfert</a></p>
{% endif %}
</div>
{% endblock %}
